package-lock=false
registry=https://registry.npm.taobao.org/
home=https://npm.taobao.org
python=/usr/bin/python2.7
init-author-name=AlanDing
init-author-email=dw39577197@163.com
init-license=MIT
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=TOKEN
//registry.npm.taobao.org/:_password="ZHc2MzEyMjl3dyFAIyQ="
//registry.npm.taobao.org/:username=alanding1989
//registry.npm.taobao.org/:email=15252605699@163.com
//registry.npm.taobao.org/:always-auth=false
